.fwhite {
  background: #fefcf2;
}
.antrazitgrau {
  background: #282f31;
}
.schokobraun {
  background: #342018;
}
.goaoptik {
  background: #835729;
}
.eicheoptik {
  background: #392112;
}
.macoreoptik {
  background: #622c1f;
}
.mahagonioptik {
  background: #411b10;
}
.nussbaumoptik {
  background: #5d3512;
}
.winchesteroptik {
  background: #9b643e;
}
.sheffieldoptik {
  background: #beb4ab;
}
.whitestructure {
  background: #fefcf2;
}
.premgrau {
  background: #fefcf2;
}
.basalt {
  background: #63666d;
}
.dunkelrot {
  background: #780e12;
}
.dunkelgrün {
  background: #0a3814;
}
.douglasie {
  background: #934c21;
}
.eichenatur {
  background: #c0a26a;
}
.cremeweiss {
  background: #f6eed2;
}
.quarzgrau {
  background: #7d7161;
}
.oregon {
  background: #b2780b;
}
.schwarzbraun {
  background: #13110a;
}
.moosgruen {
  background: #023f28;
}

.antrazitglatt {
  background: #373c42;
}

.basaltglatt {
  background: #63666d;
}
.quarzgrauglatt {
  background: #7c7061;
}

.betongrau {
  background: #8a857b;
}
.crownplatin {
  background: #312f32;
}

.lichtgrau {
  background: #c6c9c8;
}

.eisenglimmer {
  background: #404647;
}
.schiefergrau {
  background: #414747;
}
.antrazitulti {
  background: #383939;
}
.schwarzulti {
  background: #040404;
}
