@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --after-overlay: linear-gradient(0deg, rgb(0 0 0/58%), transparent);
  --swiper-pagination-color: #78dcca;
  --swiper-navigation-color: #78dcca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background: #ffffff;
}

h2 {
  font-size: clamp(1rem, 10vw, 2rem);
}
h3 {
  font-size: clamp(1rem, 3vw, 2rem);
}
@layer components {
  h2 {
    @apply my-12;
  }
  h3 {
    @apply text-[32px] lg:text-[42px] my-12;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    @apply p-4 lg:p-2 text-black text-[14px] rounded-sm font-light my-2 w-full;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
    @apply outline-none;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder {
    @apply text-[14px];
  }
  swiper-pagination-bullet swiper-pagination-bullet-active {
    @apply bg-bermuda !important;
  }

  input[type="checkbox"] {
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.75em;
    height: 1.75em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]:checked {
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.75em;
    height: 1.75em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]:before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transform-box: content-box;
    transition: 120ms transform ease-in-out;
    transform-origin: center;
    border-radius: 2px;
    background: #78dcca;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 12px;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1.5em;
  }
  .form-control + .form-control {
    margin-top: 1em;
    display: grid;
    place-content: center;
  }

  .btn {
    @apply p-3  rounded-md mt-4 mb-4 bg-bermuda text-white w-full place-content-center cursor-pointer block text-center overflow-hidden;
  }
  .btn {
    font-size: clamp(0.75rem, 4vw, 1.2rem);
  }
}
.mobile-nav-slide-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 137px;
  border-radius: 12px;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
  background: rgb(120, 220, 192);
  background: linear-gradient(
    27deg,
    rgba(120, 220, 192, 1) 20%,
    rgba(245, 245, 245, 0) 100%
  );
}
.main-slider-info::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  bottom: 0;
  z-index: -1;
  left: -30px;
  right: 0;
  background: rgb(0, 50, 36);
}
