@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --after-overlay: linear-gradient(
    27deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  --after-overlay-content: linear-gradient(
    27deg,
    rgba(75, 43, 34, 0.426) 20%,
    rgba(245, 245, 245, 0) 100%
  );
  --after-overlay-content-two: linear-gradient(
    27deg,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(245, 245, 245, 0) 100%
  );
  --swiper-pagination-color: #c9604e;
  --swiper-navigation-color: #c9604e;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-top: 90%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c2c2c2' fill-opacity='0.22'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h2 {
  font-size: clamp(1rem, 10vw, 2rem);
}
h3 {
  font-size: clamp(1rem, 3vw, 2rem);
}
@layer components {
  h2 {
  }
  h3 {
    @apply text-[32px] lg:text-[42px] my-12;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    @apply p-4 lg:p-2 text-black text-[14px] rounded-sm font-light my-2 w-full;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
    @apply outline-none;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder {
    @apply text-[14px];
  }
  swiper-pagination-bullet swiper-pagination-bullet-active {
    @apply bg-bermuda !important;
  }

  input[type="checkbox"] {
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.75em;
    height: 1.75em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]:checked {
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.75em;
    height: 1.75em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]:before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transform-box: content-box;
    transition: 120ms transform ease-in-out;
    transform-origin: center;
    border-radius: 2px;
    background: #78dcca;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 12px;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1.5em;
  }
  .form-control + .form-control {
    margin-top: 1em;
    display: grid;
    place-content: center;
  }

  .btn {
    @apply p-2 rounded-md mt-0 mb-0 px-4 text-white place-content-center cursor-pointer block text-center overflow-hidden;
  }
  .btn {
    font-size: clamp(0.4rem, 1vw, 0.75rem);
  }
}
.mobile-nav-slide-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 137px;
  border-radius: 12px;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
  /*background: rgb(120, 220, 192);
  background: linear-gradient(
    27deg,
    rgba(120, 220, 192, 1) 20%,
    rgba(245, 245, 245, 0) 100%
  );*/
}
.main-slider-info::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  bottom: 0;
  z-index: -1;
  left: -30px;
  right: 0;
  background: rgb(0, 50, 36);
}

.slidermask {
  -webkit-mask-image: url("../../public/images/bgimages/blob_mobile.svg");
  mask-image: url("../../public/images/bgimages/blob_mobile.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 110%;
  mask-position: center bottom;
}

@media (max-width: 767px) {
  .slidermask {
    mask-image: none;
  }
}

.filter-black {
  filter: grayscale(100%);
}

.navitem,
.navitem-black {
  position: relative;
  overflow: hidden;
}
.img-wrapper {
  width: 100%;
  height: 600px;
}
.navitem::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  background: white;
  width: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.navitem:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  background: black;
  width: 100%;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.navitem-black::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  background: black;
  width: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.navitem-black:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  background: black;
  width: 100%;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.clippi {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}
.productslider-details::after {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 61px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
}

.wave {
  position: relative;
}
.wave::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  top: -250px;
  z-index: -1;
  background: url("../../public/images/bgimages/WaveReverse.svg");
  background-repeat: no-repeat;
}
.wave::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: -250px;
  z-index: -1;
  transform: rotate(180deg);
  background: url("../../public/images/bgimages/WaveReverse.svg");
  background-repeat: no-repeat;
}
.gradient-gray {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
}
